.forecast-container {
    color: #535353;
    background-color: #fff;

    &_details {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
   
    &_detail {
        display: grid;
        border-bottom: 1px solid #eee;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        font-size: 14px;
        color:#767676;
        padding: 0 5px;
        
        img {
            height: 4em;
        }

        &:hover  {
            background-color: rgba(72,72,74,.05);
        }
    }

    .text-align-right {
        text-align: right;
    }
}