.forecast-container {
   
    &_detail {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        font-size: 14px;
        
        img {
            height: 4em;
        }
    }
}